body
{
    
    background-color: black;
}
.col-12
{
    font-weight: 800;
    text-align: center;
    color: white;
    padding: 100px 100px 100px 100px;
}
.col-5
{
    padding-top: 80px;
}
.image
{
    padding-left: 130px;
}